<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="card">
    <div class="card-header">
        <h5>{{ tagLang+'Edit Profile' | translate }}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-12 col-lg-7 col-xl-6">
                <div class="form-group">
                    <label for="profile-first-name">{{ tagLang+'First Name' | translate }}</label>
                    <input type="text" class="form-control" id="profile-first-name" placeholder="{{ tagLang+'First Name' | translate }}">
                </div>
                <div class="form-group">
                    <label for="profile-last-name">{{ tagLang+'Last Name' | translate }}</label>
                    <input type="text" class="form-control" id="profile-last-name" placeholder="{{ tagLang+'Last Name' | translate }}">
                </div>
                <div class="form-group">
                    <label for="profile-email">{{ tagLang+'Email Address' | translate }}</label>
                    <input type="email" class="form-control" id="profile-email" placeholder="{{ tagLang+'Email Address' | translate }}">
                </div>
                <div class="form-group">
                    <label for="profile-phone">{{ tagLang+'Phone Number' | translate }}</label>
                    <input type="text" class="form-control" id="profile-phone" placeholder="{{ tagLang+'Phone Number' | translate }}">
                </div>

                <div class="form-group mt-5 mb-0">
                    <button class="btn btn-primary">{{ tagLang+'Save' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
