<div class="widget-tags widget">
    <h4 class="widget__title">{{ tagLang+'Tags Cloud'  | translate }}</h4>
    <div class="tags tags--lg">
        <div class="tags__list">
            <a routerLink="./">{{ tagLang+'Promotion'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Power Tool'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'New Arrivals'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Screwdriver'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Wrench'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Mounts'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Electrodes'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Chainsaws'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Manometers'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Nails'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Air Guns'  | translate }}</a>
            <a routerLink="./">{{ tagLang+'Cutting Discs'  | translate }}</a>
        </div>
    </div>
</div>
