<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="footer-newsletter">
    <h5 class="footer-newsletter__title">{{ getItemLabel('Newsletter') | translate }}</h5>
    <div class="footer-newsletter__text">
        {{ getItemLabel('footer-newsletter-text') | translate }}
    </div>

    <form action="" class="footer-newsletter__form">
        <label class="sr-only" for="footer-newsletter-address">{{ getItemLabel('Email Address') | translate }}</label>
        <input type="text" class="footer-newsletter__form-input form-control" id="footer-newsletter-address" placeholder="{{ getItemLabel('Email Address') | translate }}...">

        <button class="footer-newsletter__form-button btn btn-primary">{{ getItemLabel('Subscribe') | translate }}</button>
    </form>

    <div class="footer-newsletter__text footer-newsletter__text--social">
        {{ getItemLabel('footer-newsletter-text-social') | translate }}
    </div>

    <app-social-links class="footer-newsletter__social-links" shape="circle"></app-social-links>
</div>

</div>
