<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="card">
    <div class="card-header">
        <h5>{{ tagLang+'Order History' | translate }}</h5>
    </div>
    <div class="card-divider"></div>
    <div class="card-table">
        <div class="table-responsive-sm">
            <table>
                <thead>
                <tr>
                    <th>{{ tagLang+'Order' | translate }}</th>
                    <th>{{ tagLang+'Date' | translate }}</th>
                    <th>{{ tagLang+'Status' | translate }}</th>
                    <th>{{ tagLang+'Total' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let order of orders">
                    <td><a [routerLink]="'/account/orders/' + order.id">#{{ order.id }}</a></td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.total|currencyFormat }} {{ tagLang+'for' | translate }} {{ order.quantity }} {{ tagLang+'item(s)' | translate }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-divider"></div>
    <div class="card-footer">
        <app-pagination [total]="3"></app-pagination>
    </div>
</div>

</div>
