<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<app-block-slideshow  [slides]="(languageService.blockSlides$ | async)" ></app-block-slideshow>

<app-block-features layout="boxed"></app-block-features>

<app-block-products-carousel
    header="{{ tagLang+'Featured Products' | translate }}"
    layout="grid-5"
    [rows]="2"
    [loading]="featuredProducts.loading"
    [products]="featuredProducts.products"
    [groups]="featuredProducts.groups"
    (groupChange)="groupChange(featuredProducts, $event)"
></app-block-products-carousel>

<app-block-banner></app-block-banner>

<app-block-products header="{{ tagLang+'Bestsellers' | translate }}" layout="large-last" [products]="(bestsellers$|async) || []"></app-block-products>

<app-block-categories header="{{ tagLang+'Popular Categories' | translate }}" layout="compact" [categories]="(popularCategories$|async) || []"></app-block-categories>

<app-block-products-carousel
    header="{{ tagLang+'New Arrivals' | translate }}"
    layout="grid-5"
    [rows]="1"
    [loading]="latestProducts.loading"
    [products]="latestProducts.products"
    [groups]="latestProducts.groups"
    (groupChange)="groupChange(latestProducts, $event)"
></app-block-products-carousel>

<app-block-posts header="{{ tagLang+'Latest News' | translate }}" layout="grid-nl" [posts]="posts"></app-block-posts>

<app-block-brands [brands]="(brands$|async) || []"></app-block-brands>

<app-block-product-columns>
    <app-block-product-columns-item header="{{ tagLang+'Top Rated Products' | translate }}" [products]="(columnTopRated$|async) || []"></app-block-product-columns-item>
    <app-block-product-columns-item header="{{ tagLang+'Special Offers' | translate }}" [products]="(columnSpecialOffers$|async) || []"></app-block-product-columns-item>
    <app-block-product-columns-item header="{{ tagLang+'Bestsellers' | translate }}" [products]="(columnBestsellers$|async) || []"></app-block-product-columns-item>
</app-block-product-columns>


</div>
