<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<app-page-header [breadcrumbs]="[
    {label: 'Home',                 url: '../../'},
    {label: 'Terms And Conditions', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="document">
            <div class="document__header">
                <h1 class="document__title">{{ tagLang+'Terms And Conditions' | translate }}</h1>
                <div class="document__subtitle">{{ tagLang+'This Agreement was last modified on 27 May 2018.' | translate }}</div>
            </div>
            <div class="document__content typography">
                <p>
                    {{ tagLang+'document__content 1' | translate }}
                </p>

                <h2>{{ tagLang+'Definitions' | translate }}</h2>

                <ol>
                    <li>
                        <strong>{{ tagLang+'Risus' | translate }}</strong>{{ tagLang+'document__content Risus' | translate }}
                    </li>
                    <li>
                        <strong>{{ tagLang+'Praesent' | translate }}</strong>{{ tagLang+'document__content Praesent' | translate }}                    </li>
                    <li>
                        <strong>{{ tagLang+'Vestibulum' | translate }}</strong>{{ tagLang+'document__content Vestibulum' | translate }}                        elementum sapien. Mauris luctus arcu non enim lobortis gravida.
                    </li>
                </ol>

                <h2>{{ tagLang+'Ornare dolor' | translate }}</h2>

                <p>
                    {{ tagLang+'Ornare dolor 2' | translate }}
                </p>

                <p>{{ tagLang+'For information about how to contact us, please visit our' | translate }} <a routerLink="/site/contact-us">{{ tagLang+'contact page' | translate }}</a>.</p>
            </div>
        </div>
    </div>
</div>

</div>
