<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="dashboard">
    <div class="dashboard__profile card profile-card">
        <div class="card-body profile-card__body">
            <div class="profile-card__avatar">
                <img src="./assets/images/avatars/avatar-3.jpg" alt="">
            </div>
            <div class="profile-card__name">Helena Garcia</div>
            <div class="profile-card__email">stroyka@example.com</div>
            <div class="profile-card__edit">
                <a routerLink="../profile" class="btn btn-secondary btn-sm">{{ tagLang+'Edit Profile' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="dashboard__address card address-card address-card--featured">
        <div class="address-card__badge" *ngIf="address.default">{{ tagLang+'Default Address' | translate }}</div>
        <div class="address-card__body">
            <div class="address-card__name">{{ address.firstName + ' ' + address.lastName}}</div>
            <div class="address-card__row">
                {{ address.country }}<br>
                {{ address.postcode }}, {{ address.city }}<br>
                {{ address.address }}
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">{{ tagLang+'Phone Number' | translate }}</div>
                <div class="address-card__row-content">{{ address.phone }}</div>
            </div>
            <div class="address-card__row">
                <div class="address-card__row-title">{{ tagLang+'Email Address' | translate }}</div>
                <div class="address-card__row-content">{{ address.email }}</div>
            </div>
            <div class="address-card__footer">
                <a routerLink="/account/addresses/5">{{ tagLang+'Edit Address' | translate }}</a>
            </div>
        </div>
    </div>
    <div class="dashboard__orders card">
        <div class="card-header">
            <h5>{{ tagLang+'Recent Orders' | translate }}</h5>
        </div>
        <div class="card-divider"></div>
        <div class="card-table">
            <div class="table-responsive-sm">
                <table>
                    <thead>
                    <tr>
                        <th>{{ tagLang+'Order' | translate }}</th>
                        <th>{{ tagLang+'Date' | translate }}</th>
                        <th>{{ tagLang+'Status' | translate }}</th>
                        <th>{{ tagLang+'Total' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let order of orders">
                        <td><a href="">#{{ order.id }}</a></td>
                        <td>{{ order.date }}</td>
                        <td>{{ order.status }}</td>
                        <td>{{ order.total|currencyFormat }} {{ tagLang+'for' | translate }} {{ order.quantity }} {{ tagLang+'item(s)' | translate }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</div>
