<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="block">
    <div class="container">
        <div class="not-found">
            <div class="not-found__404">
                {{ tagLang+'Oops! Error 404' | translate }}
            </div>

            <div class="not-found__content">
                <h1 class="not-found__title">{{ tagLang+'Page Not Found' | translate }}</h1>

                <p class="not-found__text">
                    {{ tagLang+'not-found__text' | translate }}<br>
                    {{ tagLang+'Try to use the search.' | translate }}
                </p>

                <form class="not-found__search">
                    <input type="text" class="not-found__search-input form-control" placeholder="{{ tagLang+'Search Query...' | translate }}">
                    <button type="submit" class="not-found__search-button btn btn-primary">{{ tagLang+'Search' | translate }}</button>
                </form>

                <p class="not-found__text">
                    {{ tagLang+'Or go to the home page to start over.' | translate }}
                </p>

                <a class="btn btn-secondary btn-sm" href="index.html">{{ tagLang+'Go To Home Page' | translate }}</a>
            </div>
        </div>
    </div>
</div>

</div>

