<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<div class="block about-us">
    <div class="about-us__image"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
                <div class="about-us__body">
                    <h1 class="about-us__title">{{ tagLang+'About Us' | translate }}</h1>
                    <div class="about-us__text typography">
                        <p>
                            {{ tagLang+'About Us text 1' | translate }}
                        </p>
                        <p>
                            {{ tagLang+'About Us text 2' | translate }}
                        </p>
                    </div>
                    <div class="about-us__team">
                        <h2 class="about-us__team-title">{{ tagLang+'Meat Our Team' | translate }}</h2>
                        <div class="about-us__team-subtitle text-muted">{{ tagLang+'Want to work in our friendly team?' | translate }}<br><a routerLink="../contact-us">{{ tagLang+'Contact us' | translate }}</a> {{ tagLang+'and we will consider your candidacy.' | translate }}</div>
                        <div class="about-us__teammates teammates">
                            <owl-carousel-o [options]="carouselOptions" appOwlPreventClick>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-1.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">{{ tagLang+'Michael Russo' | translate }}</div>
                                        <div class="teammate__position text-muted">{{ tagLang+'Chief Executive Officer' | translate }}</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-2.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">{{ tagLang+'Katherine Miller' | translate }}</div>
                                        <div class="teammate__position text-muted">{{ tagLang+'Marketing Officer' | translate }}</div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="teammates__item teammate">
                                        <div class="teammate__avatar">
                                            <img src="assets/images/teammates/teammate-3.jpg" alt="">
                                        </div>
                                        <div class="teammate__name">{{ tagLang+'Anthony Harris' | translate }}</div>
                                        <div class="teammate__position text-muted">{{ tagLang+'Finance Director' | translate }}</div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
