<div class="test-border"><div class="test-name-Component">{{this.constructor.name}}</div>

<app-page-header [header]="getLang('Contact Us')" [breadcrumbs]="[
    {label: 'Home',       url: '../../'},
    {label: 'Contact Us', url: ''}
]"></app-page-header>

<div class="block">
    <div class="container">
        <div class="card mb-0 contact-us">
            <div class="contact-us__map">
                <iframe src='https://maps.google.com/maps?q=Holbrook-Palmer%20Park&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed'></iframe>
            </div>
            <div class="card-body">
                <div class="contact-us__container">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                            <h4 class="contact-us__header card-title">{{ tagLang+'Our Address' | translate }}</h4>

                            <div class="contact-us__address">
                                <p>
                                    {{ tagLang+'contact-us__address 1' | translate }}<br>
                                    {{ tagLang+'contact-us__address 2' | translate }}<br>
                                    {{ tagLang+'contact-us__address 3' | translate }}
                                </p>

                                <p>
                                    <strong>{{ tagLang+'Opening Hours' | translate }}</strong><br>
                                    {{ tagLang+'Opening Hours 1' | translate }}<br>
                                    {{ tagLang+'Opening Hours 2' | translate }}<br>
                                    {{ tagLang+'Opening Hours 3' | translate }}
                                </p>

                                <p>

                                    <strong>{{ tagLang+'Comment' | translate }}</strong><br>
                                    {{ tagLang+'Comment 2' | translate }}
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-lg-6">
                            <h4 class="contact-us__header card-title">{{ tagLang+'Leave us a Message' | translate }}</h4>

                            <form>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="form-name">{{ tagLang+'Your Name' | translate }}</label>
                                        <input type="text" id="form-name" class="form-control" placeholder="{{ tagLang+'Your Name' | translate }}">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="form-email">{{ tagLang+'Email' | translate }}</label>
                                        <input type="email" id="form-email" class="form-control" placeholder="{{ tagLang+'Email Address' | translate }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="form-subject">{{ tagLang+'Subject' | translate }}</label>
                                    <input type="text" id="form-subject" class="form-control" placeholder="{{ tagLang+'Subject' | translate }}">
                                </div>
                                <div class="form-group">
                                    <label for="form-message">{{ tagLang+'Message' | translate }}</label>
                                    <textarea id="form-message" class="form-control" rows="4"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">{{ tagLang+'Send Message' | translate }}</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
